*{
    margin: 0;
    padding:0;
}

body{
    background-color: #272838;
}

#header{
    height: 25vh;
    background-color: white;
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 25vh; 
    font-size: 3vw;
}

#house{
    position: absolute;
    height: 17vh;
    top: 0 ;
    bottom: 0 ;
    left:15%;
    margin: auto 0 auto 0;
}

#circle{
    position: absolute;
    width: 22vh;
    height: 22vh;
    background-color: #F0CCBC;
    border-radius: 50%;
    left: 23%;
    top:-40%;
}

#circle1{
    position: absolute;
    width: 22vh;
    height: 22vh;
    background-color: #F0CCBC;
    border-radius: 50%;
    left: 70%;
    bottom:-40%;
}

.triangle-down {
    position: absolute;
	width: 0;
	height: 0;
	border-left: 3vh solid transparent;
	border-right: 3vh solid transparent;
	border-top: 6vh solid black;
    top: 0;
    left: 70%;
}

.triangle-up {
    position: absolute;
	width: 0;
	height: 0;
	border-left: 3vh solid transparent;
	border-right: 3vh solid transparent;
	border-bottom: 6vh solid black;
    left: 30%;
    bottom: 0;
}

#container{
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result{
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;
    height: auto; /*25vh*/
    width: 30vw;
    background-color: #F0CCBC;
    font-size: 1.5vw;
    border-radius: 10px;
    padding:3% 0 3% 0;
    flex-direction: column;
}

.buttons{
    width: 8vw;
    height:5vh;
    border-radius: 30px;
    background-color: #F0CCBC;
    float:right;
    margin-right: 10vw;
}

#recommend{
    height: 30vh; /*25vh*/
    width: 30vw;
    background-color: #F0CCBC;
    font-size: 1.5vw;
    border-radius: 10px;
    padding:2% 0 0 2%;
    box-sizing: border-box;
}

.map{
    width: 9vw;
    height:1.5vw;
    border-radius: 30px;
    background-color: #95AAA2;
    border: none;
    margin-right: 2.5vw;
    font-size: 0.8vw;
}

span{
    display: block;
    margin-bottom: 1.5vh;
}